<div style="width: 1440px; height: 1024px; position: relative; background: white">
  <div style="width: 1440px; height: 160px; left: 0px; top: 0px; position: absolute; background: #F32020"></div>
  <img style="width: 130px; height: 131.58px; left: 8px; top: 14px; position: absolute" src="/media/productos/v11_9.png" />
  <div style="width: 198px; height: 61px; left: 162px; top: 47px; position: absolute; border-radius: 50px"></div>
  <div style="width: 221px; height: 50px; left: 151px; top: 58px; position: absolute; background: #F32020; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 50px; border: 1px white solid"></div>
  <div style="width: 181px; height: 29px; left: 162px; top: 69px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">CATEGORIA</div>
  <div style="width: 693px; height: 53px; left: 385px; top: 55px; position: absolute; background: #D9D9D9; border-radius: 50px"></div>
  <div style="width: 40.53px; height: 40.53px; left: 1021px; top: 58px; position: absolute; background: url('/media/productos/lupa_50.png'); background-size: cover;"></div>
  <div style="width: 40.62px; height: 43.75px; left: 1249px; top: 58px; position: absolute; background: #FFFAFA"></div>
  <div style="width: 98px; height: 25px; left: 1220px; top: 108px; position: absolute; color: #FFF6F6; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mi cuenta</div>
  <div style="width: 98px; height: 25px; left: 1104px; top: 109px; position: absolute; color: #FFF6F6; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mis listas</div>
  <div style="width: 52px; height: 53px; left: 1353px; top: 53px; position: absolute">
    <div style="width: 42.04px; height: 26.78px; left: 4.98px; top: 4.18px; position: absolute; border: 2px white solid"></div>
    <div style="width: 8.41px; height: 8.93px; left: 13.39px; top: 39.89px; position: absolute; border: 2px white solid"></div>
    <div style="width: 8.41px; height: 8.93px; left: 35.81px; top: 39.89px; position: absolute; border: 2px white solid"></div>
  </div>
  <div style="width: 16px; height: 10px; left: 318px; top: 79px; position: absolute; border: 1.50px #FFF6F6 solid"></div>
  <div style="width: 75px; height: 26px; left: 1350px; top: 108px; position: absolute; color: #FFFAFA; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Carrito</div>
  <div style="width: 50px; height: 50px; left: 1130px; top: 59px; position: absolute; background: url('/media/productos/listas_50.png'); background-size: cover;"></div>
    <div style="width: 6.25px; height: 32.81px; left: 40.62px; top: 10.94px; position: absolute; background: white"></div>
    <div style="width: 39.06px; height: 43.75px; left: 3.12px; top: 3.12px; position: absolute; background: white"></div>
  </div>
  <div style="width: 1331px; height: 440px; left: 58px; top: 221px; position: absolute; background: #F86A6A; border-radius: 21px"></div>
  <img style="width: 180px; height: 214px; left: 1178px; top: 238px; position: absolute" src="/media/productos/v11_173.png" />
  <div style="width: 338px; height: 121px; left: 94px; top: 480px; position: absolute; background: white; border-radius: 50px"></div>
  <div style="width: 350px; height: 118px; left: 1008px; top: 477px; position: absolute; background: white; border-radius: 50px"></div>
  <div style="width: 30px; height: 30px; left: 674px; top: 682px; position: absolute; background: #F32020; border-radius: 9999px"></div>
  <div style="width: 30px; height: 30px; left: 560px; top: 682px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <div style="width: 30px; height: 30px; left: 902px; top: 682px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <div style="width: 30px; height: 30px; left: 617px; top: 682px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <div style="width: 30px; height: 30px; left: 731px; top: 682px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <div style="width: 30px; height: 30px; left: 788px; top: 682px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <div style="width: 30px; height: 30px; left: 845px; top: 682px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <div style="width: 364px; height: 165px; left: 93px; top: 423px; position: absolute; border-radius: 50px"></div>
  <div style="width: 338px; height: 121px; left: 551px; top: 477px; position: absolute; background: white; border-radius: 50px"></div>
  <div style="width: 117px; height: 110px; left: 120px; top: 485px; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Super Oferta<br/></span><span style="color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">3x1</span></div>
  <div style="width: 122px; height: 108px; left: 1032px; top: 482px; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Super oferta<br/></span><span style="color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">2x1</span></div>
  <div style="width: 117px; height: 110px; left: 577px; top: 482px; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hasta<br/></span><span style="color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">30%</span></div>
  <div style="width: 40.63px; height: 40.63px; left: 1391px; top: 403px; position: absolute; background: black"></div>
  <div style="width: 50px; height: 50px; padding: 4.69px; left: 0px; top: 396px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 40.62px; height: 40.62px; background: black"></div>
  </div>
  <div style="width: 1331px; height: 270px; left: 48px; top: 724px; position: absolute; background: #FAB7B7"></div>
  <div style="width: 162px; height: 76px; left: 224px; top: 512px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Gaseosas</div>
  <div style="width: 172px; height: 83px; left: 1165px; top: 503px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Panetones D’pnofrio</div>
  <img style="width: 300px; height: 202px; left: 85px; top: 763px; position: absolute; border-radius: 50px" src="/media/productos/v11_171.png" />
  <img style="width: 180px; height: 214px; left: 1032px; top: 243px; position: absolute" src="/media/productos/v11_176.png" />
  <div style="width: 287px; height: 146px; left: 402px; top: 786px; position: absolute; background: #D9D9D9; border-radius: 73px"></div>
  <div style="width: 287px; height: 146px; left: 1066px; top: 781px; position: absolute; background: #D9D9D9; border-radius: 73px"></div>
  <div style="width: 200px; height: 110px; left: 689px; top: 480px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">En electrodomestico</div>
  <div style="width: 207px; height: 92px; left: 429px; top: 813px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Precio: s/.2.599,00</div>
  <img style="width: 294px; height: 195px; left: 746px; top: 757px; position: absolute; border-radius: 50px" src="/media/productos/v11_197.png" />
  <div style="width: 208px; height: 80px; left: 1096px; top: 819px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Precio:<br/>s/.9.599,00</div>
  <img style="width: 223px; height: 229px; left: 138px; top: 241px; position: absolute; border-radius: 50px" src="/media/productos/v11_179.png" />
  <img style="width: 199px; height: 215px; left: 606px; top: 241px; position: absolute" src="/media/productos/v11_183.png" />
  <div style="width: 621px; height: 59px; left: 400px; top: 55px; position: absolute; color: #968181; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">¿Qué desea comprar hoy?</div>
</div>