* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v11_3 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_5 {
    width: 100%;
    height: 160px;
    background: url("../images/v11_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_4 {
    width: 100%;
    height: 160px;
    background: rgba(243,32,32,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_9 {
    width: 130px;
    height: 131px;
    background: url("../images/v11_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 8px;
    overflow: hidden;
  }
  .v11_46 {
    width: 198px;
    height: 61px;
    background: url("../images/v11_46.png");
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 162px;
  }
  .v11_48 {
    width: 221px;
    height: 50px;
    background: rgba(243,32,32,1);
    opacity: 1;
    position: absolute;
    top: 58px;
    left: 151px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v11_49 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 69px;
    left: 162px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_68 {
    width: 693px;
    height: 53px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 385px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_70 {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 58px;
    left: 75px;
  }
  .v11_72 {
    width: 40px;
    height: 43px;
    background: rgba(255,249,249,1);
    opacity: 1;
    position: absolute;
    top: 58px;
    left: 153px;
  }
  .v12_16 {
    width: 98px;
    color: rgba(255,246,246,1);
    position: absolute;
    top: 108px;
    left: 124px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_95 {
    width: 98px;
    color: rgba(255,246,246,1);
    position: absolute;
    top: 109px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v12_17 {
    width: 52px;
    height: 53px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 53px;
    left: 257px;
    overflow: hidden;
  }
  .v12_18 {
    width: 42px;
    height: 26px;
    background: url("../images/v12_18.png");
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 5px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v12_19 {
    width: 8px;
    height: 8px;
    background: url("../images/v12_19.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 14px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v12_20 {
    width: 8px;
    height: 8px;
    background: url("../images/v12_20.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 36px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v11_91 {
    width: 16px;
    height: 10px;
    background: url("../images/v11_91.png");
    opacity: 1;
    position: absolute;
    top: 79px;
    left: 318px;
    border: 1.5px solid rgba(255,246,246,1);
  }
  .v12_21 {
    width: 75px;
    color: rgba(255,249,249,1);
    position: absolute;
    top: 108px;
    left: 254px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v11_92 {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 59px;
    left: 34px;
    overflow: hidden;
  }
  .v11_93 {
    width: 6px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 41px;
  }
  .v11_94 {
    width: 39px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 4px;
  }
  .v11_96 {
    width: 100%;
    height: 440px;
    background: rgba(247,106,106,1);
    opacity: 1;
    position: absolute;
    top: 221px;
    left: 58px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v11_176 {
    width: 180px;
    height: 214px;
    background: url("../images/v11_176.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 82px;
    overflow: hidden;
  }
  .v11_150 {
    width: 338px;
    height: 121px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 480px;
    left: 94px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_109 {
    width: 350px;
    height: 118px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 477px;
    left: 88px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_97 {
    width: 30px;
    height: 30px;
    background: rgba(243,32,32,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 422px;
    border-radius: 50%;
  }
  .v11_103 {
    width: 30px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 536px;
    border-radius: 50%;
  }
  .v11_101 {
    width: 30px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 194px;
    border-radius: 50%;
  }
  .v11_102 {
    width: 30px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 479px;
    border-radius: 50%;
  }
  .v11_98 {
    width: 30px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 365px;
    border-radius: 50%;
  }
  .v11_99 {
    width: 30px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 308px;
    border-radius: 50%;
  }
  .v11_100 {
    width: 30px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 251px;
    border-radius: 50%;
  }
  .v11_104 {
    width: 364px;
    height: 165px;
    background: url("../images/v11_104.png");
    opacity: 1;
    position: absolute;
    top: 423px;
    left: 93px;
  }
  .v11_110 {
    width: 338px;
    height: 121px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 477px;
    left: 545px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_111 {
    width: 117px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 485px;
    left: 120px;
    font-family: Inter;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v11_117 {
    width: 122px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 482px;
    left: 64px;
    font-family: Inter;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v11_116 {
    width: 117px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 482px;
    left: 519px;
    font-family: Inter;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v11_124 {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 403px;
    left: 295px;
  }
  .v11_142 {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 396px;
    left: 0px;
    overflow: hidden;
  }
  .v11_143 {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .v11_146 {
    width: 100%;
    height: 270px;
    background: rgba(249,182,182,1);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 48px;
    overflow: hidden;
  }
  .v11_151 {
    width: 162px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 512px;
    left: 224px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v11_154 {
    width: 172px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 503px;
    left: 69px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_171 {
    width: 300px;
    height: 202px;
    background: url("../images/v11_171.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 763px;
    left: 85px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_173 {
    width: 180px;
    height: 214px;
    background: url("../images/v11_173.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 243px;
    left: 64px;
    overflow: hidden;
  }
  .v11_177 {
    width: 287px;
    height: 146px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 786px;
    left: 402px;
  }
  .v11_198 {
    width: 287px;
    height: 146px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 781px;
    left: 30px;
  }
  .v11_184 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 480px;
    left: 407px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_189 {
    width: 207px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 813px;
    left: 429px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_197 {
    width: 294px;
    height: 195px;
    background: url("../images/v11_197.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 757px;
    left: 350px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_199 {
    width: 208px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 819px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_179 {
    width: 223px;
    height: 229px;
    background: url("../images/v11_179.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 241px;
    left: 138px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v11_183 {
    width: 199px;
    height: 215px;
    background: url("../images/v11_183.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 241px;
    left: 490px;
    overflow: hidden;
  }
  .v15_31 {
    width: 621px;
    color: rgba(149,128,128,1);
    position: absolute;
    top: 55px;
    left: 400px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  